
.blog-title {
	margin: 0;
}
.blog-post {
	clear: both;
	padding: 1.5rem 0;
	border-bottom: solid thin #000;
	ol li {
		list-style: decimal;
	}
	&.single, &:last-of-type {
		border-bottom: none;
	}
}
.blog-post-meta span, .blog-navigation {
	font-weight: bold;
	clear: both;
	padding-top: 1rem;
}
.blog-navigation {
	margin-bottom:1em;
}
.screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}
.screen-reader-shortcut {
	position: absolute;
	top: -1000em;
	&:focus {
		right: 6px;
		top: -25px;
		height: auto;
		width: auto;
		display: block;
		font-size: 14px;
		font-weight: 600;
		padding: 15px 23px 14px;
		background: #f1f1f1;
		color: #0067ac;
		z-index: 100000;
		line-height: normal;
		box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
		text-decoration: none;
		outline: none;
	}
}
.blog-navigation {
	width: 100%;
	float: left;
	clear: both;
}
.wp-caption, 
img.left, 
.alignleft, 
img.right, 
.alignright, 
.aligncenter {
	height: auto !important;
}


.alignleft, 
.alignright, 
.aligncenter,
.alignnone {
	margin-top:0.5rem !important; 
}



.wp-caption {
	max-width: 90%;
	display: block;
	float: none;
	background: #fff;
	p {
		margin:  0;
	}
	img {
		float: none;
		height: auto;
		max-width: 100%;
		border: none;
	}
	.wp-caption-text {
		margin: 0;
		padding: 0;
	}
}
.more-link {
	margin-bottom: 1.5em;
}
input#searchsubmit {
	display: inline-block;
}

@media only screen and (min-width: $break-medium + 1) {
	
	.blog-next {
		text-align: right;
		width: 45%;
		float: right;
	}
	.blog-previous {
		width: 45%;
		float: left;
	}
	img.left, .alignleft {
		max-width: 75%;
		float: left;
		clear: left;
		margin: 1.5rem 1.5rem 1.5rem 0;
	}
	img.right, .alignright {
		max-width: 75%;
		float: right;
		clear: right;
		margin: 1.5rem 0 1.5rem 1.5rem;
	}
	img.center {
		min-width: 100%;
		height: auto;
		margin: 1.5rem 0;
	}
}

.blog #searchsubmit{
	margin-left: 0 !important;
}
.blog #content{
	padding-right: 5em;
}

.blog .container {
    width: 87%;}