body {
    
}





    	/* ====================================================================================================================
        In-content image styles   ==================================================================================================================== */

.img-right-content {
    display: inline-block;
    margin-left: 1.25em;
    margin-bottom: 1em;
    float: right;
    max-width: 30%;
    height: auto;
    width: auto;
}

.img-left-content {
    display: inline-block;
    margin-right: 1.25em;
    margin-bottom: 1em;
    float: left;
    max-width: 30%;
    height: auto;
    width: auto;
}
    	/* ====================================================================================================================
        Grid   ==================================================================================================================== */

.container {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    .grid_3 {
        width: 23%
    }
    .grid_4 {
        width: 31%;
        margin-left: 1%;
        margin-right: 1%
    }
    .grid_6 {
        width: 46%;
        margin-left: 2%;
        margin-right: 2%
    }
    .grid_8 {
        width: 64%;
    }
    .grid_9 {
        width: 73%
    }
    .grid_12 {
        width: 98%
    }
    .prefix_2 {
        padding-left: 16%;
    }
    .prefix_3 {
        padding-left: 25%
    }
    .prefix_4 {
        padding-left: 33%
    }
    .prefix_6 {
        padding-left: 50%
    }
    .prefix_8 {
        padding-left: 66%;
    }
    .prefix_9 {
        padding-left: 75%
    }
    .suffix_2 {
        padding-right: 16%;
    }
    .suffix_3 {
        padding-right: 25%
    }
    .suffix_4 {
        padding-right: 33%
    }
    .suffix_6 {
        padding-right: 50%
    }
    .suffix_9 {
        padding-right: 75%
    }
    .push_2 {
        left: 16%;
    }
    .push_3 {
        left: 25%
    }
    .push_4 {
        left: 33%
    }
    .push_6 {
        left: 50%
    }
    .push_9 {
        left: 75%
    }
    .pull_3 {
        left: -25%
    }
    .pull_4 {
        left: -33%
    }
    .pull_6 {
        left: -50%
    }
    .pull_9 {
        left: -75%
    }
}
.grid_3,
.grid_4,
.grid_6,
.grid_8,
.grid_9,
.grid_12 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%
}
.alpha {
    margin-left: 0
}
.omega {
    margin-right: 0
}
/* Clear Floated Elements */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0
}
.clearfix {
    display: inline-block
}
* html .clearfix {
    height: 1%
}
.clearfix {
    display: block
}
.mobileonly {
    display: none;
}
.nonmobile {
    display: block;
}


    	/* ====================================================================================================================
        Responsive Breaks    ==================================================================================================================== */


// media queries

@media (max-width: $break-large) {

}

@media (max-width: $break-medium) {
   
    
}

@media (max-width: $break-small) {
 
}

@media (max-width: $break-xsmall) {
 
}
// forced queries
@media (max-width: 1024px) {

}
@media (max-width: 960px) {

}
@media (max-width: 479px) {

}

@media (max-width: 1003px){

}