.main {
    z-index: 998;
    position: relative;
    top: 0;
    width: 100%;
	clear: both;
    margin-top: -3em;
}

.fa {
    margin-right: .75em;
}

.sticky {
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 999; 
    background: #fff;
    background: rgba(255,255,255,0.95);
    transition: all .5s;
    overflow: visible !important;
    ul > #active { 
        & > div.sub-nav {
            display: block;
            z-index: 990;
            visibility: visible;
            opacity: 1;
            min-height: 0.5em;
            a {
                color: #fff;
            }
        }
    }
    ul > li:hover {
        & > div.sub-nav {
            display: block;
            z-index: 999;
            min-height: 2em;
            a {
                color: #fff;
            }
    }
    }
}

.site-nav {
	width: 100%;
	border-bottom: 3px solid $secondary-color;
    overflow: auto;
    .contact {
            position: absolute;
            top: 0;
            width: 100%;
            display: block;
            margin-bottom: .5em;
            margin-top: -11em;
            font-family: $highlight-p-font;
            ul {
                width: 100%;
                height: auto;
                li {
                    width: 32%;
                    height: 100%;
                    float: left;
                    vertical-align: middle;
                    text-align: center;
                    border-bottom: 2px solid $primary-color;
                    display: table-cell;
                    a {
                        transition: all .5s;
                    }
                    &.mobileonly {
                        display: none;
                    }
                    &:first-child, &:last-child {
                        width: 34%;
                        }
                    &:hover > a {
                        background-color: $primary-color;
                        color: #fff;
                        transition: all .5s;
                    }
                    &.emergency, &.emergency a {
                        color: $emergency-red;
                        transition: all .5s;
                        &:hover, &:hover > a {
                            color: #fff;
                            background-color: $emergency-red;
                            border-bottom-color: $emergency-red;
                            transition: all .5s;
                        }
                    }
                    &:hover > a, a {
                        display: block;
                    }
                }
            }
        }
        .emergency {
            border: 0;
            padding: 0;
        }
    
    /* general ul style */
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: auto;
    }
    /* first level ul style */
    & > ul {
        width: 75%;
        max-width: 47.5em;
        min-width: 46.5em;
        margin: 0 auto;
        padding: 0 1.875em;
        float: right;
        & > div {
            width: 33%;
            float: left;
            padding: 0 2em 0;
        }
    }
    & > ul > li {
        display: inline-block;
        float: left;
        & > a ,.non-link{
            padding: 1em 1.4em;
            color: $primary-color;
            display: inline-block;
            transition: background 0.3s linear;
            &:hover, .on {
                color: $secondary-color;
            }
        }
        &:hover a, & > a:hover, .on, &:hover .non-link {
            color: #fff;
            background: $secondary-color;      
        }
        &:hover > .sub-nav {
            display: block;
            /*padding-bottom: 1em;
            padding-top: 1em;*/
            visibility: visible;
            opacity: 1;
        }
    }
    /* sub-menu */
    .sub-nav {
        display: none;
        position: absolute;
        width: 100%;
		padding-bottom: 4em;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s linear;
		.sub-nav-container {
        	background: $secondary-color;
			width: 100%;
			float: right;
		}
        ul {
            width: 92%;
            margin-left: auto;
            margin-right: auto;
            max-width: 1200px;
            float: right;
            li {
                float: left;
                width: auto;
            }
        }
        a {
            line-height: 1.5em;
            display: block;
            padding: 1.5em 1.4em;
            &:hover, &.on {
                background-color: rgba(255,255,255, 0.3);
            }
        }
    }
}


/* -------------------------------------------------- */
/*nav toggle*/
/* -------------------------------------------------- */

.contactshow,
.contacthide {
    cursor: pointer
}
.contact {
    display: none
}
.contactshow,
.contacthide {
    display: none
}
.menu-trigger {
    display: none;
}
@media (max-width: $break-large) {
    .menu-trigger {
        display: block;
        position: fixed;
        background: #fff;
        top: 0;
        padding-top: 1em;
        left: 1em;
        width: auto;
        padding: .5em;
        z-index: 1000;
        border-radius: 0 0 5px 5px;
        .fa {
            margin-left: .75em;
        }
        img {
            width: 2.7em;
        }
    }
    #main-nav, .main {
        visibility: hidden;
        display: none;
    }
    #jPanelMenu-menu {
        z-index: 0;
        float: left;
        top: 1.9em;
        background-color: $light-gray;
        margin-top: 0;
        padding-top: 5em;
        .contact {
            position: relative;
            top: 11em;
            height: auto;
            overflow: auto;
            display: block;
            border-top: 5px solid $secondary-color;
            ul {
                width: 100%;
                height: auto;
                li {
                    width: 100%;
                    float: none;
                    display: block;
                    text-align: left;
                    a {
                        padding: .5em .75em;
                    }
                    &.mobileonly {
                        display: block;
                    }
                    &.nonmobile {
                        display: none;
                    }
                    &:first-child, &:last-child {
                        width: 100%;
                        }
                }
            }
        }    
            .sub-nav {
                position: relative;
                padding-top: 0;
                padding-bottom: 0;
                overflow: auto;
                ul {
                    width: 100%;
                    float: left;
                    li {
                        width: 100%;
                        a {
                            padding-left: 2.2em;
                        }
                    }
                }
            }
            & > ul {
                width: 100%;
                max-width: none;
                margin: 0;
                padding: 0;
                min-width: 100%;
                & > li {
                    display: block;
                    float: none;
                    width: 100%;
                    position: relative;
                    a {
                        padding: .5em .75em;
                        display: block;
                        width: 100%;
                    }
                }
                & > div {
                    width: 100%;
                    padding: 0;
                    position: relative;
                    a {
                        line-height: 1em;
                        padding: .5em 1.75em;
                        color: #fff;
                    }
                }
            }
    }
    #jPanelMenu-menu > ul.menu,
    #jPanelMenu-menu .content > ul.menu,
    #jPanelMenu-menu ul.sf-menu {
        margin: 0;
    }
    #jPanelMenu-menu > ul.menu:after,
    #jPanelMenu-menu .content > ul.menu:after,
    #jPanelMenu-menu ul.sf-menu:after,
    #jPanelMenu-menu .content:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    
    ul.menu ul {
        margin: 0;
    }
}
@media (max-width: $break-small) {
    .menu-trigger {
        left: 0;
        .fa {
            display: none;
        }
    }
}

